* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
    
}

img {
    width: 100%;
}

#page-header {
    display: grid;
    grid-auto-flow: row;
    background-image: url(/img/dough.jpeg);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

#page-header-first-section {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    margin-bottom: 15vh;
    row-gap: 5vh;
}

.header-icons {
    width: 8vw;
    height: 8vh;
    /*How to change te icon colors? I tried fill*/
}

#header-food-logo {
    width: 70vw;
    height: 22vh;
}

#page-header-second-section {
    display: grid;
    grid-auto-flow: row;
}

#page-header-second-section>h1 {
    padding-left: 25vw;
    padding-right: 25vw; 
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 2vh;
}

#page-header-second-section>p {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    /*How to make the paragrapah look like the original*/
    margin-bottom: 10vh;
}

#page-header-second-section>img {
    justify-self: center;
}

#page-main {
    display: grid;
    grid-auto-flow: row;
}

#page-main-first-section {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 8vh;
    margin-top: 8vh;
}

#page-main-first-section-first-p {
    text-align: center;
    margin-bottom: 2vh;
    font-size: .8rem;
    color: rgb(178, 178, 178);
}

#page-main-first-section-second-p {
    text-align: center;
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 1.5rem;
    font-family: 'Open Sans';
}

#page-main-first-section-second-p>b {
    font-family: 'Open Sans';
}

#page-main-read-more-desktop-layout {
    display: none;
}

#main-square-first-picture {
    background-image: url(/img/brownie.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-auto-flow: row;
    height: 45vh;
}

.main-articles {
    display: grid;
    grid-auto-flow: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.main-articles-p {
    text-align: center;
    margin-bottom: 2vh;
    font-size: .8rem;
    color: rgb(126, 126, 126);
}

.main-articles-p-bold {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 2vh;
}

.main-articles-p-text {
    text-align: center;
    font-size: .8rem;
    margin-bottom: 2vh;
}

.main-articles-p-link {
    text-align: center;
    font-size: .9rem;
    color: black;
    margin-bottom: 3VH;
}

#main-square-second-picture {
    /*other uestion
    the font family looks different in my project

    almost all
    */ 
    background-image: url(/img/granola.jpeg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-auto-flow: row;
    height: 45vh;
}

#main-square-third-picture {
    background-image: url(/img/granola2.jpeg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-auto-flow: row;
    height: 45vh;
}

#main-events {
    display: grid;
    grid-auto-flow: row;
}

#main-events-p {
    text-align: center;
    margin-bottom: 2vh;
    font-size: .9rem;
    color: rgb(126, 126, 126);
}

#main-events-h2 {
    text-align: center;
    margin-bottom: 4vh;
    font-family: 'Playfair Display';
    font-size: 1.8rem;
}

.main-events-dates {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 5vh;
}

.main-events-h2 {
    text-align: center;
}

.main-events-first-p {
    text-align: center;
    margin-bottom: 2vh;
    font-size: .9rem;
    color: rgb(126, 126, 126);
}

.main-events-second-p {
    text-align: center;
    margin-bottom: 2vh;
    font-size: .9rem;
    margin-right: 10vw;
    margin-left: 10vw;
}

#main-events-button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 5vh;
}

#main-events-button-read-more {
    font-size: .8rem;
    padding: 10px 30px 10px;
    background-color: white;
    font-family: 'Playfair Display';
}

#main-section-img-background {
    background-image: url(/img/bread.jpeg);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    height: 40vh;
    display: grid;
    text-align: center;
    row-gap: 10px;
    margin-bottom: 20px;
}

#main-section-img-background-first-p {
    font-size: .9rem;
    color: whitesmoke;
    margin-top: 1vh;
}

#main-section-img-background-second-p {
    text-align: center;
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 1.5rem;
    font-family: 'Open Sans';
    text-shadow: 2px black;
}

#main-section-delicious-from-chef {
    text-align: center;
}

#main-section-menu-first-column {
    display: grid;
    text-align: center;
    row-gap: 15px;
}

#main-section-menu-second-column {
    display: grid;
    text-align: center;
    row-gap: 15px;
}

#main-section-delicious-from-chef>p {
    text-align: center;
    font-size: .9rem;
    color: rgb(126, 126, 126);
}

#main-section-delicious-from-chef>h1 {
    font-family: 'Open Sans';
    font-size: 2rem;
    margin-bottom: 4vh;
}

#main-section-menu {
    display: grid;
    row-gap: 20px;
   text-align: center;
}

.main-section-menu-div {
    margin: 0px 10vw 0px;
    display: grid;
    row-gap: 3px;
}

.main-section-menu-div-plate-name {
    text-align: center;
    font-size: 1.1rem;
    color: rgb(126, 126, 126);
}

.main-section-menu-div-plate-ingredients {
    font-size: .8rem;
}

#main-section-plates-desktop-layout {
    display: none;
}

#main-section-plates-first-pictures {
    background-image: url(/img/wine.jpg);
    margin-top: 8vh;
}

#main-section-plates-second-pictures {
    background-image: url(/img/pie.jpeg);
    background-position: center;
    background-size: cover;
    height: 35vh;
}

#main-section-plates-third-pictures {
background-image: url(/img/pizza.jpeg);
}

#main-section-plates-fourth-pictures {
    background-image: url(/img/brownie.jpg);
    }

.main-section-plates-pictures {
    background-position: center;
    background-size: cover;
    /*height: 55vh;*/
}

#main-section-icon {
    display: grid;
    text-align: center;
    place-items: center;
    margin-top: 10vh;
    row-gap: 40px;
}

#main-section-icon>div>img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.main-section-icon-div {
    display: grid;
    row-gap: 8px;
    place-items: center;
}

.main-section-icon-div>p {
    font-size: 0.7rem;
    letter-spacing: 2px;
}

#main-section-circle-div {
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    place-items: center;
    display: grid;
    text-align: center;
    color: whitesmoke;
    font-size: .6rem;
    letter-spacing: 2px;
    margin-bottom: 10vh;
}

#main-section-contact-us {
    display: grid;
    row-gap: 10px;
    text-align: center;
    margin-bottom: 5vh;
}

#main-section-contact-us>p {
    font-size: 0.7rem;
    letter-spacing: 2px;
}

#main-section-contact-us>h1 {
    font-size: 1.6rem;
}

#main-section-submit {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;
    margin: 0px 5vw;
}

.main-section-submit-data {
    padding: 8px;
    width: 180px;
}

#main-section-submit-div-terms {
    font-size: 0.7rem;
}

#main-section-submit-div-terms>a {
    text-decoration: none;
    color: rgb(128, 128, 194);
}

#main-section-submit-button {
    margin: 5vh 0px;
    display: grid;
    place-items: center;
    margin-bottom: 8vh;
    
}

#main-section-submit-button>button {
    font-size: .7rem;
    padding: 8px 25px;
    background-color: white;
    font-family: 'Playfair Display';
    font-weight: 700;
}

#page-footer {
    background-color: rgb(41, 41, 41);
    display: grid;
    text-align: center;
    color: whitesmoke;
    height: 150px;
    padding: 40px 10vw 0px;
    font-size: 0.7rem;
}

#page-footer-projects {
    display: grid;
}

#page-footer-projects>a {
    text-decoration: none;
    color: rgb(128, 128, 194);
}

@media only screen and (min-width: 1080px) {
    #page-header {
        background-position: 50% 25%;
    }

    #page-header-icon-menu {
        margin-top: 20px;
    }

    .header-icons {
        width: 30px;
        height: 30px;
    }

    #header-food-logo {
        width: 359px;
        height: 229px;
    }
    
    #page-header-second-section>h1 {
    font-size: 3rem;
    padding-left: 20vw;
    padding-right: 20vw;
    }

    #page-header-second-section>p {
        padding-left: 25vw;
        padding-right: 25vw;
    }

    #page-header-second-section>img {
        margin-bottom: 20px;
    }

    #page-main-first-section-first-p {
        font-size: 1rem;
    }

    #page-main-first-section-second-p {
        font-size: 2rem;
        padding: 0px 22vw;
    }

    #page-main-read-more-mobile-layout {
        display: none;
    }

    #page-main-read-more-desktop-layout {
        display: grid;
        grid-auto-flow: column;
    }

    .page-main-read-more-column {
        display: grid;
        grid-auto-flow: row;
    }

    #main-events {
        margin-top: 70px;
    }

    #main-events-p {
        font-size: 1.2rem;
    }

    #main-events-h2 {
        font-size: 3rem;
    }

    #main-events-column {
        display: grid;
        grid-auto-flow: column;
    }

    .main-events-h2 {
        font-size: 3rem;
    }

    .main-events-second-p {
        margin-right: 5vw;
        margin-left: 5vw;
    }

    #main-events-button-read-more {
        cursor: pointer;
    }

    #main-section-img-background {
        height: 70vh;
    }

    #main-section-img-background-first-p {
        letter-spacing: 2px;
        margin-top: 25vh;
        text-align: start;
        margin-left: 20px;
    }

    #main-section-img-background-second-p {
        font-size: 3rem;
    }

    #main-section-delicious-from-chef>p {
        font-size: 1rem;
        letter-spacing: 2px;
        margin-top: 30px;
    }

    #main-section-delicious-from-chef>h1 {
        font-size: 3rem;
    }

    #main-section-menu {
        display: grid;
        grid-auto-flow: column;
    }

    .main-section-menu-div {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
    }

    .main-section-menu-div-plate-name {
        margin-top: 30px;
        letter-spacing: 2px;
    }

    #main-section-plates-mobile-layout {
        display: none;
    }

    #main-section-plates-desktop-layout {
        display: grid;
        grid-auto-flow: column;
        margin-top: 8vh;
        height: 400px;
    }

    #main-section-plates-first-pictures {
        margin-top: 0;
    }

    #main-section-plates-second-pictures-div {
        display: grid;
        grid-auto-flow: row;
    }

    #main-section-plates-second-pictures-div-two {
        display: grid;
        grid-auto-flow: column;
    }

    #main-section-icon {
        display: grid;
        grid-auto-flow: column;
        padding: 0 20vw;
    }

    #main-section-circle-div {
        height: 150px;
        width: 150px;        
        border-radius: 75px;
        /*How to make you centralize*/
    }

    #main-section-contact-us>p {
        font-size: 1rem;
    }

    #main-section-contact-us>h1 {
        font-size: 2.2rem;
    }

    #main-section-submit {
        place-items: center;
    }

    .main-section-submit-data {
        width: 350px;
    }

    #main-section-submit-button>button {
        cursor: pointer;
    }
}

